.display {
    background-color: black;
    color: white;
    text-align: right;
    margin-top: 20px;
    height: 130px;

}

p {
    font-size: 70px;
    padding: 40px;
    font-weight: lighter;
    display: inline;
    margin: auto;

}