button {
    font-size: 70px;
    padding: 10px;
    text-align: center;
    color: inherit;
    border: 1px solid #979797;
    font: inherit;
    outline: inherit;
    /* width: 100%; */
}

button:active {
    border: 3px solid #979797;
}

.button-container {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    max-width: 500px;


}

.action-buttons {
    width: 337.5px;
    height: 95px;
    font-size: 40px;
}

.number-buttons {
    width: 112.5px;
    height: 95px;
    font-size: 40px;
}


.number-container {
    width: 337.5px;
    display: flex;
    flex-wrap: wrap-reverse;

}



.prop-cont {
    /* display: flex;
    justify-content: right;
    width: 150px; */

}


.symb-container {
    display: flex;
    flex-direction: column;
    width: 112.5px;
}

.symb {
    background-color: #A0011E;
    color: white;
}